@font-face {
    font-family: Abel;
    src: url('../fonts/Abel/Abel-Regular.ttf')
}

@font-face {
    font-family: Anton;
    src: url('../fonts/Anton/Anton-Regular.ttf')
}

@font-face {
    font-family: Lexend_Deca;
    src: url('../fonts/Lexend_Deca/LexendDeca-Regular.ttf')
}

@font-face {
    font-family: Livvic;
    src: url('../fonts/Livvic/Livvic-Regular.ttf')
}

@font-face {
    font-family: Montserrat;
    src: url('../fonts/Montserrat/Montserrat-Regular.ttf')
}

@font-face {
    font-family: Lora;
    src: url('../fonts/Lora/Lora-VariableFont_wght.ttf')
}

@font-face {
    font-family: Lobster;
    src: url('../fonts/Lobster\ \(1\)/Lobster-Regular.ttf')
}