    @import url('../css/fonts.css');
    /* variable */
    
     :root {
        /* Theme colors */
        --text-gray: #3f4954;
        --text-light: #686666da;
        --bg-color: #0f0f0f;
        --white: #ffffff;
        --midnight: #14664b;
        /*prechodove colors*/
        --sky: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
        --green: linear-gradient(to top, #50cc7f 0%, #f5d100 100%);
        --ocean-blue: linear-gradient(-225deg, #473B7B 0%, #3584A7 51%, #30D2BE 100%);
        --Abel: 'Abel', cursive;
        --Anton: 'Anton', cursive;
        --LexendDeca: 'LexendDeca', cursive;
        --Livvic: 'Livvic', cursive;
        --Montserrat: 'Montserrat', cursive;
        --Lobster: 'Lobster', cursive;
        --Lora: 'Lora', cursive;
    }
    /* variable */
    
    html {
        box-sizing: border-box;
    }
    
    *,
    *:before,
    *:after {
        box-sizing: inherit;
    }
    
    * {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
    }
    
    div {
        position: relative;
        top: -7px;
    }
    
    html,
    body {
        margin: 0;
        box-sizing: border-box;
        overflow-x: scroll;
    }
    /* --------globals -------*/
    
    a {
        text-decoration: none;
        color: black;
        font-family: var(--Lobster);
    }
    
    .flex-row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0 .5rem;
    }
    
    ul {
        list-style-type: none;
    }
    
    h1 {
        font-family: var(--Lobster);
        font-size: 2.5rem;
    }
    
    h2 {
        font-family: var(--Abel);
        font-size: 1.8rem;
    }
    
    h3 {
        font-family: var(--Lobster);
        font-size: 1.3rem;
    }
    
    button .btn {
        border: none;
        border-radius: 2rem;
        padding: 1rem 3rem;
        color: white;
    }
    
    .container {
        margin: 0 5vw;
    }
    
    .text-gray {
        color: var(--text-gray);
    }
    
    p {
        font-family: var(--Abel);
        font-size: medium;
        color: var(--text-light);
    }
    /* --------glassess -------*/
    /* -----Lista pro mensi zarizeni------*/
    
    .nav .toggle-collapse {
        position: absolute;
        width: 90%;
        cursor: pointer;
        display: none;
        visibility: hidden;
    }
    
    .nav .toggle-collapse .nav-items .nav-link {
        padding: .9rem 0;
    }
    
    .nav .toggle-collapse .toggle-icons {
        display: flex;
        justify-content: flex-end;
        padding: 1.5rem 1rem;
    }
    
    .nav .toggle-collapse .toggle-icons i {
        font-size: 1.4rem;
        color: var(--text-gray);
        line-height: 0;
    }
    
    .nav-collapse {
        height: 25rem;
        display: contents;
        padding: 2rem;
        margin: 1rem;
    }
    /* -----x-----Lista pro mensi zarizeni-----x------*/
    /* --------nav bar -------*/
    
    .nav {
        background: white;
        padding: 2.5rem 1rem;
        height: 1rem;
        min-height: 10vh;
        overflow: hidden;
        transition: height 1s ease-in-out;
    }
    
    .nav .nav-menu {
        justify-content: space-between;
        margin-top: 0;
    }
    
    .nav-items {
        list-style-type: none;
        display: flex;
        line-height: 2rem;
        padding-inline-start: 0px;
    }
    
    .nav .nav-items .nav-link {
        padding: 0 1rem;
        font-size: 1.3rem;
        position: relative;
        font-family: var(--Livvic);
    }
    
    .nav .nav-items .nav-link:hover {
        background-color: var(--midnight);
        border-radius: 10%;
    }
    
    .nav .nav-items .nav-link a:hover {
        color: var(--white);
    }
    
    .nav .nav-brand {
        display: flex;
        padding: 0 .5rem;
    }
    
    .nav .nav-brand a:hover {
        color: #14664b;
    }
    
    .nav .nav-brand a {
        padding: 0 0;
        text-decoration: none;
        display: block;
        font-family: var(--Abel);
        text-transform: none;
        font-weight: 900;
        font-size: 1.7rem;
    }
    
    nav .social .instagram img {
        border-radius: 50%;
        width: 36px;
        height: 36px;
        padding: 0 .1rem;
    }
    
    nav .social i {
        padding: 0 .2rem;
        line-height: 0;
    }
    
    nav .social i:hover {
        color: #14664b;
    }
    /* -----x---nav bar ---x----*/
    /* ------- Hlavni content ------- */
    /*--------- Site title ---------- */
    
    main .site-title {
        background: url(../img/Hawaii.jpg);
        background-size: cover;
        background-position: center;
        background-attachment: scroll;
        height: 120vh;
        display: flex;
        justify-content: center;
    }
    
    main .site-background {
        padding-top: 7rem;
        text-align: center;
        color: white;
    }
    
    main .site-title h1,
    h3 {
        margin: .3rem;
    }
    
    main .site-title .btn {
        margin: 1.7rem;
        border: none;
        border-radius: 2rem;
        padding: 1rem 3rem;
        background: var(--green);
        font-weight: bold;
        font-size: 1rem;
        font-family: var(--Lobster);
        cursor: pointer;
    }
    
    main .site-title .btn a {
        color: white;
        font-size: 1rem;
        font-family: var(--Lobster);
        text-transform: none;
    }
    
    main .site-title .btn:hover {
        background: transparent;
        border: 1px solid var(--white);
    }
    /*----x----- Site title -----x----- */
    /*----------------Owl carousel----------------- */
    
    .main .blog {
        background: url('../img/white\ transparent.png');
        background-repeat: no-repeat;
        height: 100vh;
        width: 100px;
    }
    
    main .blog-post {
        padding-top: .6rem;
    }
    
    main .blog-post .blog-content {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 80%;
        margin: 3rem 3rem;
        box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
    }
    
    main .blog-post .blog-content img {
        padding-bottom: 1.3rem;
        height: 450px;
    }
    
    main .blog-post .blog-content .btn {
        margin: 2rem;
        padding: 1.4rem 1.3rem;
        border-radius: 2rem;
        border: none;
        cursor: pointer;
        background: var(--green);
        color: white;
        font-family: var(--Lobster);
        width: 50%;
        font-size: 1rem;
    }
    
    main .blog-post .blog-content .btn:hover {
        background: transparent;
        border: 1px solid var(--bg-color);
        color: var(--text-gray);
    }
    
    section .container .owl-nav {
        position: absolute;
        top: -20px;
        margin: 0 auto;
        width: 100%;
    }
    
    section .owl-nav .owl-prev .owl-nav-prev,
    section .owl-nav .owl-next .owl-nav-next {
        color: var(--text-gray);
        background: transparent;
        font-size: 2rem;
        padding-bottom: 0;
    }
    
    section .owl-theme .owl-nav [class*='owl-']:hover {
        background: transparent;
        color: var(--text-gray);
    }
    
    section .owl-theme .owl-nav [class*='owl-']:hover {
        outline: none;
    }
    /*-------x--------Owl carousel---------x------- */
    /*---------------content clanky---------------- */
    
    main .site-content {
        margin: 10rem 5rem;
        display: grid;
        grid-template-columns: 70% 30%;
    }
    
    main .site-content .post-image img {
        width: 90%;
        padding: 2rem;
    }
    
    main .site-content .post-btn {
        padding: 1rem 1.3rem;
        border-radius: .3rem;
        border: none;
        cursor: pointer;
        background: var(--sky);
        color: white;
        font-family: var(--Abel);
        font-size: 1rem;
        text-transform: uppercase;
    }
    
    main .site-content .post-btn:hover {
        background: transparent;
        border: 1px solid var(--text-gray);
        color: var(--text-gray)
    }
    
    main .post-content {
        width: 100%;
        margin-bottom: .5rem;
    }
    
    main .site-content .post-content>.post-image,
    .post-title {
        padding: 1.2rem 2rem;
        position: relative;
    }
    
    main .site-content .post-content>.post-image,
    .post-info {
        background: var(--sky);
        padding: 1rem;
        position: relative;
        left: 4vw;
        border-radius: .3rem;
        margin: 0 .5rem;
        width: 25%;
    }
    
    main .site-content .post-title a {
        font-size: 1.5rem;
        font-weight: 900;
    }
    
    .site-content .pagination {
        justify-content: center;
        color: var(--text-gray);
        margin: 2rem 0;
        font-size: 1.1rem;
    }
    
    .site-content .pagination a {
        font-family: var(--Abel);
        margin: 1rem .5rem;
        padding: .8rem .8rem;
    }
    
    .site-content .pagination .cislastranek {
        background: var(--text-gray);
        color: white;
        border-radius: 2rem;
    }
    
    .site-content .pagination .cislastranek:hover,
    .site-content .pagination .cislastranek a.active {
        background: transparent;
        border: .3rem solid var(--text-gray);
        color: var(--text-gray)
    }
    /*-------x--------content clanky--------x-------- */
    /*---------------pagination---------------- */
    /*-------X-------pagination--------X------- */
    /*---------------side bar---------------- */
    
    .sidebar .post-tipy {
        margin: 2 0rem;
    }
    
    .sidebar .post-tipy h6 {
        font-family: var(--Lobster);
        margin-top: 1.6rem;
    }
    
    .sidebar p {
        font-family: var(--Lora);
        font-size: small;
        margin: 1rem;
    }
    /*-------x--------side bar--------x-------- */
    /* ----x--- Hlavni content ---x---- */
    /* ------- Footer ------- */
    
    .footer {
        position: relative;
        height: 100%;
        background-color: var(--bg-color);
    }
    
    .footer .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    
    .footer .container>div {
        padding: 3rem .9rem;
        flex-grow: 1;
        flex-basis: 0;
    }
    
    .footer .container h2 {
        color: white;
    }
    
    .footer .newsletter .form-element input {
        padding: .7rem .5rem;
        background: transparent;
        color: white;
        font-family: var(--Anton);
        font-size: 1rem;
        width: 75%;
    }
    
    .footer .newsletter p {
        color: white;
    }
    
    .footer .newsletter .form-element span {
        background: var(--sky);
        padding: 1rem .9rem;
        cursor: pointer;
    }
    
    .footer .follow i {
        color: white;
        padding: .6rem .3rem;
    }
    
    .footer .right {
        justify-content: center;
    }
    /* ---x--- Footer ---x--- */
    /* --------Vieport mene nebo rovno 790px -------*/
    
    @media (max-width:750px) {
        .nav .nav-menu,
        .nav .nav-items {
            flex-direction: column;
        }
        .nav .nav-items {
            margin-top: 1rem;
        }
        .nav .toggle-collapse,
        .nav .nav-brand {
            display: initial;
            visibility: visible;
        }
        .nav-collapse .nav-menu {
            margin: 2.5rem 1.5rem 1.5rem 1.5rem;
        }
        .nav-collapse .nav-items {
            margin: .8rem;
            padding: .6rem;
        }
        .main .site-title {
            flex: none;
            grid-template-columns: 100%;
        }
        main .blog-post .blog-content img {
            padding-bottom: 1.3rem;
            height: fit-content;
        }
        h3 {
            font-size: .7rem;
        }
        main .blog-post .blog-content img {
            padding-bottom: .6rem;
            height: 300px;
        }
        main .blog-post .blog-content .btn {
            font-size: .1rem;
            text-align: center;
            width: 40%;
            padding: .6rem .3rem;
            margin: .5rem;
        }
        main .site-content .post-btn {
            padding: .1rem .1rem;
            border-radius: .1rem;
            border: none;
            cursor: pointer;
            background: var(--sky);
            color: white;
            font-family: var(--Abel);
            font-size: .3rem;
            text-transform: uppercase;
        }
        main .site-content {
            margin: 1rem .1rem;
            display: block;
        }
        main .site-content .post-content>.post-image {
            padding: .4rem .1rem;
            position: initial;
        }
        main .site-content .sidebar {
            padding: .1rem 1rem;
            font-size: x-small;
        }
        main .site-content .sidebar h2 {
            font-size: 1rem;
            padding: .3rem .3rem;
        }
        main .site-content .post-content>.post-image,
        .post-info {
            background: var(--sky);
            padding: .7rem;
            position: relative;
            left: 4vw;
            border-radius: .3rem;
            margin: 0 1.2rem;
            font-size: .7rem;
            width: 30%;
        }
        main .site-content .post-image img {
            padding: 2rem;
        }
        main .site-title {
            background-position: center;
        }
        .footer .container {
            display: block;
            text-align: center;
        }
    }
    /* -----x---Vieport mene nebo rovno 750px -------*/
    /* -----x---Vieport mene nebo rovno 750px -------*/
